body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d2e9ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card, .list-group-item {
  background-color: #f0f7f8;
}

#file-upload input[type="file"]{
  display: none;
}

#file-upload {
  position: relative;
  width: 195px;
  height: 38px;
  color: #fff;
  text-align: center;
}

#file-upload label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.chartjs-render-monitor {
  width: 800px !important;
  height: 400px !important;
}
